.chat-row {
    display: flex;
    margin: 3px;
    width: 100%;
}

.page-title {
    text-align: center;
    margin: 0px 7px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 5px;
    margin: 0px 7px;
    max-width: 90%;
    color: #f3f2f2;
}

.ai-bubble {
    background: rgb(109, 113, 114);
    border-radius: 10px;
}

.human-bubble {
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%);
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
    width: 32px;
    height: 32px;
}
